* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */


.intro-chunk .title{
  font-size: 32px;
  margin-bottom: 50px;
  padding: 100px 300px 10px;
}

.intro-chunk p{
  font-size: 1.15em;
  max-width: 600px; 
  padding-left: 300px; 
}

.intro-chunk strong{
  color: hsl(160deg, 100%, 30%);
}

main{
  background-color: hsl(0deg, 0%, 60%);
  border-top: 5px solid hsl(0deg, 0%, 40%); 
  margin-top: 100px;
  height: 100%;
}

section{
  padding: 100px 250px;
}

.card{
  background-color: hsl(0deg, 0%, 100%);
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  border-bottom: 5px solid hsl(0deg, 0%, 40%);
  
}

.card h2{
  font-size: 1.5em;
  background-color: hsl(45deg, 100%, 50%);
  padding: 25px 50px;
  max-width: fit-content;
  margin-left: -25px;
  box-shadow: 0 5px 0 hsl(45deg, 100%, 40%);
  transform: translateY(10%);
  margin-bottom: 50px;
}

.card p{
  text-align: left;
  font-size: 24px;
  padding: 5px 50px;
}